!!!
%html
  %head
    %title Front End Learning
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}
  %body
    %header.navigation-container
      %nav.navigation-menu
        %a.navigation-menu__avatar{href: "#user-avatar"}
          %span.navigation-menu__user-name
            NR
        %ul.navigation-menu--dropdown
          %li.navigation-menu__menu-item
            %a.link{href: "#your-courses"} Your courses
          %li.navigation-menu__menu-item-section
            %a.link{href: "#create"} Create
          %li.navigation-menu__menu-item-section
            %a.link{href: "#your-profile"} Your profile
          %li.navigation-menu__menu-item
            %a.link{href: "#settings"} Settings
          %li.navigation-menu__menu-item
            %a.link{href: "#sign-out"} Sign out

%script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'}
%script{type: "text/javascript", src: "/javascripts/script.js"}
