!!!
%html
  %head
    %title Front End Learning
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}
  %body
    %header
      %nav
        .avatar
          %span NR
        %ul#dropdown
          %li Your courses
          %li Create
          %li Your profile
          %li Settings
          %li Sign out

%script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'}
%script{type: "text/javascript", src: "/javascripts/script.js"}
