!!!
%html
  %head
    %title Front End Learning
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}
  %body
    .container
      %button#hide Hide
      %button#show Show
      %h1 Hello world


%script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'}
%script{type: "text/javascript", src: "/javascripts/script.js"}
